<!-- Newsletter -->

	<div class="newsletter">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="newsletter_content d-flex flex-lg-row flex-column align-items-center justify-content-start">
						<div class="newsletter_title">Subscribe to our newsletter</div>
						<div class="newsletter_form_container ml-lg-auto">
							<form action="#" id="newsletter_form" class="newsletter_form">
								<input type="email" name="subscribeEmail" class="newsletter_input" placeholder="Your email" required="required">
								<button id="newsletter_button" class="newsletter_button">Subscribe</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Footer -->

	<footer class="footer">
		<div class="container">
			<div class="row">

				<!-- Footer Column -->
				<div class="col-lg-4 footer_col">

					<!-- Logo -->
					<div class="logo_container">
						<div class="logo">
							<a href="#">
								<span>God Bless You</span>
								<img src="images/logo_large.jpg" alt="">
							</a>
						</div>
						<br><div class="logo_subtitle">Christian Tabernacle Of Atlanta</div>
					</div>
					<div class="footer_social">
						<ul>
							<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</div>

				<!-- Footer Column -->
				<div class="col-lg-4 footer_col">
					<div class="footer_links">
						<div class="footer_title">Useful Links</div>
						<ul>
							<li><a href="index.html">Home</a></li>
							<li><a href="#">Donations</a></li>
							<li><a href="sermons.html">Sermons</a></li>
							<li><a href="#">Causes</a></li>
							<li><a href="#">Quotes</a></li>
							<li><a href="blog.html">News</a></li>
							<li><a href="#">Event List</a></li>
							<li><a href="ministries.html">Ministries</a></li>
							<li><a href="#">Priests</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
					</div>
				</div>

				<!-- Footer Column -->
				<div class="col-lg-3 footer_col">
					<div class="footer_contact">
						<div class="footer_title">Contact Us</div>
						<ul>
							<li><span>Address: </span>1481 shoreview Lane Avila Beach, MN 55123</li>
							<li class="footer_contact_phone">
								<span>Phone: </span>
								<div>
									<div> +1 207 333 7943</div>
									<div> +1 207 333 7943</div>
								</div>
							</li>
							<li><span>Email: </span>princekwk@gmail.com</li>
						</ul>
					</div>
				</div>

			</div>
		</div>

		<!-- TestPro -->
		<div class="copyright text-center"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
       <a href="https://testpro.net" target="_blank">Made by FlashITech a branch of TestPro</a>
</div>

	</footer>

</div>

<script src="js/jquery-3.2.1.min.js"></script>
<script src="styles/bootstrap4/popper.js"></script>
<script src="styles/bootstrap4/bootstrap.min.js"></script>
<script src="plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="plugins/easing/easing.js"></script>
<script src="plugins/parallax-js-master/parallax.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCIwF204lFZg1y4kPSIhKaHEXMLYxxuMhA"></script>
<script src="js/contact_custom.js"></script>
<script src="js/custom.js"></script> 
<script src="js/ministries_custom.js"></script>
</body>
</html>




