                                <ul>
					<li class="active"><a href="/">Home</a></li>
					<li><a href="/ministries">Ministries</a></li>
					<li><a href="/sermons">Sermons</a></li>
					<li><a href="/blog">Blog</a></li>
					<li><a href="/contact">Contact</a></li>
					<li><a href="/">Live streaming <blink><span class="w3-badge w3-red">1</span></blink></a></li>
				</ul>